body {
    background-image: url("https://thumbs.gfycat.com/QueasyRecentEmperorshrimp-size_restricted.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(74, 129, 177);
}

li {
    float: left;
}

li a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(22, 84, 139);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@import url('https://fonts.googleapis.com/css?family=Megrim&display=swap');
.header {
    font-family: 'Megrim', cursive;
    font-size: 100px;
    margin: 50px
}

.textbox {
    border-style: solid;
    background-color: rgba(135, 181, 221, 0.806);
    border-color: rgb(23, 58, 88);
    text-align: center;
    margin: 30px;
    width: 1200px
}

.header-two {
    font-size: 30px;
    font-family: 'Megrim', cursive;
    margin: 5px;
}

.header-three {
    text-decoration: underline;
    font-size: 25px;
    font-family: 'Megrim', cursive;
    margin: 0;
}

.text {
    font-size: 20px;
}